<mat-nav-list>
    <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
        <mat-icon>home</mat-icon>
        <span class="nav-caption">Home</span>
    </a>
    <a mat-list-item routerLink="/tools" (click)="onSidenavClose()">
        <mat-icon>medical_services</mat-icon>
        <span class="nav-caption">Tools</span>
    </a>
    <a mat-list-item routerLink="/articles" (click)="onSidenavClose()">
        <mat-icon>library_books</mat-icon>
        <span class="nav-caption">Articles</span>
    </a>
</mat-nav-list>
