<!---------------------------     Header       ------------------------------->
<div class="header">
    <div fxLayout="row-reverse">
        <mat-card class="margin-top-50 margin-right-35 card-title">
            <mat-card-title class="title-color text-center font-size-25 line-height">
                Waist Circumference
            </mat-card-title>
        </mat-card>
    </div>
</div>

<!---------------------------     Section 1        ------------------------------->
<div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="center center"
class="margin-top-50">
    <div fxFlex="50%">
        <mat-card class="margin-x-20 padding-20">
            <div class="text-body">
                The prevalence of adult overweight and obesity as defined using BMI has
                increased worldwide since the 1980s.  
                <span class="text-bold font-size-18">Obesity is a major public health problem</span>  
                worldwide and reliance on measurements of BMI alone has proven inadequate
                to help clinicians manage obesity related health risk.
            </div>
            <div class="text-body">
                BMI in isolation is an insufficient biomarker of abdominal adiposity. 
                <span class="text-bold font-size-18">Waist circumference</span>
                is a simple method to assess
                <span class="text-bold font-size-18">abdominal adiposity</span>
                that is easy to standardize and clinically apply. Waist circumference
                is strongly associated with all-cause and cardiovascular mortality
                with or without adjustment for BMI.
            </div>
            <div class="text-body">
                In addition, the measurement of both BMI and waist circumference will
                provide unique opportunities to follow the utility of treatment and
                effectiveness of interventions designed to manage obesity and related
                metabolic disease.
            </div>
            <mat-card-footer class="margin-top-10">
                <mat-chip-list aria-label="Lifestyle" fxLayoutAlign="center center">
                    <mat-chip color="primary" selected>Waist circumference</mat-chip>
                    <mat-chip color="accent" selected>Abdominal</mat-chip>
                    <mat-chip color="primary" selected>Adiposity</mat-chip>
                    <mat-chip color="accent" selected>Public Health</mat-chip>
                </mat-chip-list>
            </mat-card-footer>
        </mat-card>
        
    </div>
    <div fxFlex="50%" class="margin-top-50 margin-x-20">
        <img src="assets/img/waist-circum-illustration.svg" alt="Illustration about exercise">
    </div>
    
</div>

<!---------------------------     Section 2       ------------------------------->

<div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="center center"
class="margin-top-50">
    <div fxFlex="50%">
        <mat-card class="margin-x-20 padding-20">
            <mat-card-title class="text-center">
                How to measure your waist
            </mat-card-title>
            <ol class="text-body">
                <li>Find the bottom of your ribs and the top of your hips.</li>
                <li>Place a tape measure around your middle at a point halfway
                between them (just above the belly button).</li>
                <li>Make sure it’s pulled tight, but isn’t digging into your skin.</li>
                <li>Breathe out naturally and take your measurement.</li>
                <li>Take your measurement again, just to be sure.</li>
            </ol>
            
        </mat-card>
    </div>

    <div fxFlex="50%" class="margin-x-20 margin-top-10">
        <img src="assets/img/waist-circumference.svg" alt="Waist measure illustration"> 
    </div>
</div>


