img { 
    width: 100%
}

.header {
    background-image: url("/assets/img/measure-waist.jpg");
    background-color: cadetblue;
    height: 300px; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    background-blend-mode: multiply;
}

.title-color {
    color: white;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-right-35 {
    margin-right: 35px;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}

.margin-x-20 {
    margin-left: 20px;
    margin-right: 20px;
} 

.padding-20 {
    padding: 20px;
}

.margin-right-10 {
    margin-right: 10px;
}

.card-title {
    background-color: slategray;
    opacity: 0.8;
    width: 250px;
    padding: 30px;
}

.card-title:hover {
    opacity: 0.9;
}

.line-height {
    line-height: 1.2;
}

.text-center {
    text-align: center;
}

.font-size-18 {
    font-size: 18px;
}

.font-size-25 {
    font-size: 25px;
}

.text-bold {
    font-weight: bold;
}

.text-body {
    font-size: larger;
    line-height: 1.6;
}

.wc-form {
    min-width: 150px;
    max-width: 400px;
    width: 100%;
}

.full-width {
    width: 100%;
}

.bg-danger {
    background-color: crimson;
}

.bg-good {
    background-color: limegreen;
}

.bg-warning {
    background-color: rgb(201, 101, 13);
}

.text-white {
    color: floralwhite;
}