
<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center start" 
class="footer-start flex-wrap">
    <div fxFlex="30%" class="margin-top-20 word-wrap">
        <div class="text-bold">
            BE HEALTHY
        </div>
        <div class="margin-top-10">
            Lifestyle medicine is a branch of evidence-based medicine in which comprehensive
            lifestyle changes (including nutrition, physical activity, stress management,
            social support and environmental exposures) are used to prevent, treat and
            reverse the progression of chronic diseases by addressing their underlying causes.
        </div>
    </div>
        
    <div fxFlex="30%" class="margin-top-20 word-wrap">
        <div class="text-center text-bold">LINKS</div>
        <div class="text-center margin-top-10">
            <a routerLink="/home">Home</a>
        </div>
        <div class="text-center">
            <a routerLink="/tools">Tools</a>
        </div>
        <div class="text-center">
            <a routerLink="/articles">Articles</a>
        </div>
    </div>
        

    <div fxFlex="40%" class="margin-top-20 word-wrap">
        <div class="text-bold">EVIDENCE BASED</div>
        <div class="margin-top-10">Evidence-informed approach to preventing, managing and treating
        lifestyle-related chronic conditions.</div>
        <div class="margin-top-10 text-bold">Material for educational purposes only. It is not medical advice. 
        Consult your doctor.</div>
        <div class="text-bold">Before taking any medications, over the counter drugs, supplements or herbs,
        consult a physician for a thorough evaluation.</div>
    </div>
</div>

<div class="footer-end">
    <div class="font-size-20 center">Enrique Carbó - 2022</div>
</div>
