<!---------------------------     Header   ------------------------------------->
<div class="header" id="top">
    <div fxLayout="row-reverse">
        <mat-card class="margin-top-50 margin-right-35 card-title">
            <mat-card-title class="title-color text-center font-size-25 line-height">
                Clinimetrics
            </mat-card-title>
        </mat-card>
    </div>
</div>

<!----------------------------- Section 1 ---------------------------------------->

<section  fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="center center"
class="margin-top-50 margin-bottom-50">

<div fxFlex="50%" class="first-margin margin-x-10">
    <div class="text-body">Clinimetrics can be broadly defined as the science of clinical measurements.</div>
    <div class="text-body">The study for assessing the quality of measurements for clinical research and
    practice in healthcare.</div>
    <div class="text-body">The term refers to Measurement in Medicine and is about
    making health data.</div>
    <div class="text-body">This concept refers to a set of principles and rules that clinicians
    use to improve the treatment of patients.</div>
    <div class="text-body">We use this measure the severity of symptoms, signs, and laboratory findings by means
    of quantitative approaches to assessment.</div>
</div>

<div fxFlex="50%" class="margin-top-20 padding-top-10 padding-x-20">
    <img src="assets/img/medical-measure.svg" 
    alt="Image" class="image-responsive center">
</div>


</section>

<!----------------------------- Section 2 ---------------------------------------->

<section  fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="center center"
class="margin-top-50 margin-bottom-50">

<div fxFlex="50%" class="first-margin margin-x-10">
    <div class="font-size-22 text-bold line-height text-center">Metrology</div>
    <div class="margin-top-20 text-body">The International Bureau of Weights and Measures defines metrology as
    the science of measurement, embracing both experimental and theoretical
    determinations at any level of uncertainty in any field of science and
    technology.</div>

    <div class="margin-top-20 text-body">Measurements of physiological, biochemical,
    physical, and other patient-related variables provide essential information for critical
    decision-making in clinical practice, as well as for research and 
    development.</div>
</div>

<div fxFlex="50%" class="margin-top-20 padding-top-10 padding-x-20">
    <img src="assets/img/digital-medicine.svg" 
    alt="Image" class="image-responsive center">
</div>
    

    
</section>