<!---------------------------     Header       ------------------------------->
<div class="header" id="top">
    <div fxLayout="row-reverse">
        <mat-card class="margin-top-50 margin-right-35 card-title">
            <mat-card-title class="title-color text-center font-size-25 line-height">
                Metabolic Syndrome
            </mat-card-title>
        </mat-card>
    </div>
</div>

<!---------------------------     Section 1        ------------------------------->
<div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="center center"
class="margin-top-50">
    <div fxFlex="50%">
        <mat-card class="margin-x-20 padding-20">
            <div class="text-body">
                Physicians and scientists have long known that certain conditions
                increase a person’s risk of developing atherosclerotic 
                <span class="text-bold font-size-18">cardiovascular disease (CVD)</span>. These risk factors include
                a family history of premature coronary disease, hypertension,
                hyperlipidemia, diabetes and smoking.
            </div>
            <div class="text-body">
                The metabolic syndrome refers to the co-occurrence of several known
                cardiovascular risk factors, including insulin resistance, obesity,
                atherogenic dyslipidemia and hypertension. 
            </div>
            <div class="text-body">
                It identifies a subgroup of patients with shared pathophysiology who are
                at high risk of developing cardiovascular disease and type 2 diabetes.
            </div>
            <mat-card-footer class="margin-top-50 margin-bottom-10">
                <mat-chip-list aria-label="Lifestyle" fxLayoutAlign="center center">
                    <mat-chip color="primary" selected>Metabolic Syndrome</mat-chip>
                    <mat-chip color="accent" selected>Type 2 Diabetes</mat-chip>
                    <mat-chip color="primary" selected>Cardiovascular Diseases</mat-chip>
                </mat-chip-list>
            </mat-card-footer>
        </mat-card>
        
    </div>
    <div fxFlex="50%" class="margin-top-50">
        <img src="assets/img/cardiology.svg" alt="Heart and doctors illustration">
    </div>
</div>

<!---------------------------     Section 2       ------------------------------->

<div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="center center"
class="margin-top-50">
    <div fxFlex="50%">
        <mat-card class="margin-x-20 padding-20">
            <div class="text-body">
                In 2001, the National Cholesterol Education Program (NCEP) Adult Treatment
                Panel III (ATP III) devised a definition for the metabolic syndrome, which
                was updated by the American Heart Association and the National Heart
                Lung and Blood Institute in 2005. 
            </div>
            <div class="text-body">
                The 
                <span class="text-bold font-size-18">NCEP ATP III</span>
                definition is one of the most widely used criteria of
                metabolic syndrome. It incorporates the key features of hyperglycemia/insulin
                resistance, visceral obesity, atherogenic dyslipidemia and hypertension.
            </div>
            <mat-card-footer class="margin-top-50 margin-bottom-10">
                <mat-chip-list aria-label="Lifestyle" fxLayoutAlign="center center">
                    <mat-chip color="primary" selected>Hyperglycemia</mat-chip>
                    <mat-chip color="accent" selected>Visceral obesity</mat-chip>
                    <mat-chip color="primary" selected>Dyslipidemia</mat-chip>
                    <mat-chip color="accent" selected>Hypertension</mat-chip>
                </mat-chip-list>
            </mat-card-footer>
        </mat-card>
    </div>

    <div fxFlex="50%" class="margin-x-15">
        <img src="assets/img/metabolic-syndrome.svg" alt="Metabolic syndrome illustration"> 
    </div>
</div>

<!---------------------------     Section 3 Calculator      ------------------------------->

<div fxLayout="row" fxLayoutAlign="center center" class="margin-bottom-50">
    <mat-card class="ms-card margin-top-50 margin-x-20">
        <mat-card-title class="text-center font-size-25">Metabolic Syndrome</mat-card-title>
        <mat-checkbox class="margin-top-10 font-size-18" 
        [(ngModel)]="items[0].checked" [checked]="items[0].checked">
            {{ items[0].name }}
        </mat-checkbox>
        <mat-divider></mat-divider>
        <mat-checkbox class="margin-top-10 font-size-18"
        [(ngModel)]="items[1].checked" [checked]="items[1].checked">
            {{ items[1].name }}
        </mat-checkbox>
        <mat-divider></mat-divider>
        <mat-checkbox class="margin-top-10 font-size-18"
        [(ngModel)]="items[2].checked" [checked]="items[2].checked">
            {{ items[2].name }}
        </mat-checkbox>
        <mat-divider></mat-divider>
        <mat-checkbox class="margin-top-10 font-size-18"
        [(ngModel)]="items[3].checked" [checked]="items[3].checked">
            {{ items[3].name }}
        </mat-checkbox>
        <mat-divider></mat-divider>
        <mat-checkbox class="margin-top-10 font-size-18"
        [(ngModel)]="items[4].checked" [checked]="items[4].checked">
            {{ items[4].name }}
        </mat-checkbox>

        <mat-card-actions class="margin-top-50">
            <button mat-raised-button color="primary"
            (click)="calculate()">Calculate</button>
            <button mat-raised-button color="warn"
            (click)="delete()">Delete</button>
        </mat-card-actions>
    </mat-card>
</div>

<!---------------------------     Section 4 Response      ------------------------------->

<div fxLayout="row" fxLayoutAlign="center center" *ngIf="response && metabolicSyndrome === false"
class="margin-bottom-50">
    <mat-card class="ms-card margin-top-50 margin-x-20 font-size-25 bg-good text-white line-height">
        <div class="text-center">
            <mat-icon aria-hidden="false" aria-label="Sentiment satisfied icon" 
            fontIcon="sentiment_satisfied" class="customIconSize"></mat-icon>
        </div>
        
        <div class="margin-top-10">You do not have sufficient criteria for the diagnosis of metabolic syndrome.</div>
        <div class="margin-top-10">Always Consult your Doctor.</div>
    </mat-card>
</div>

<div fxLayout="row" fxLayoutAlign="center center" *ngIf="response && metabolicSyndrome"
class="margin-bottom-50">

    <mat-card class="ms-card margin-top-50 margin-x-20 font-size-25 bg-danger text-white line-height">
        
        <div class="text-center">
            <mat-icon aria-hidden="false" aria-label="Sentiment dissatisfied icon" 
            fontIcon="sentiment_dissatisfied" class="customIconSize"></mat-icon>
        </div>
        
        <div>You have sufficient criteria for a diagnosis of metabolic syndrome.</div>
        <div class="margin-top-10">Always Consult your Doctor.</div>
    </mat-card>
</div>

